$clr-primary: #ff053b;

$clr-neutral-100: rgba(#1d1d1d, 1);
$clr-neutral-90: rgba(#1d1d1d, 0.9);
$clr-neutral-80: rgba(#1d1d1d, 0.8);
$clr-neutral-70: rgba(#1d1d1d, 0.7);
$clr-neutral-60: rgba(#1d1d1d, 0.6);
$clr-neutral-50: rgba(#1d1d1d, 0.5);
$clr-neutral-40: rgba(#1d1d1d, 0.4);
$clr-neutral-30: rgba(#1d1d1d, 0.3);
$clr-neutral-20: rgba(#1d1d1d, 0.2);
$clr-neutral-10: rgba(#1d1d1d, 0.1);

$clr-success-100: #179001;

$clr-error-100: #c32d38;

$clr-warning-100: #f0cb5f;

$clr-info-100: #349ce7;

$clr-text: #44374d;
$clr-text-muted: #a19aa4;
$clr-text-inverted: #ffffff;

$clr-background: #f2f5f5;
$clr-border: #f2f5f5;

// $font-primary: "Plus Jakarta", sans-serif;
$font-primary: "Poppins", sans-serif;

$font-base-size: 16; // px
