@import "../../styles/abstracts/index";
.layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.page {
  flex: 1;
  width: 100%;
  max-width: $app-width;
  margin: auto;

  padding-left: calculateRem(24);
  padding-right: calculateRem(24);
}
