@import "../../../styles/abstracts/index";

.header {
  background-color: $clr-bg-primary;
  border-top: calculateRem(3) solid $clr-primary;
  border-bottom: calculateRem(3) solid $clr-border;

  display: flex;
  justify-content: center;
  align-items: center;

  height: calculateRem(140);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  &__content {
    width: 100%;
    max-width: $app-width;

    padding-top: calculateRem(10);
    padding-left: calculateRem(24);
    padding-right: calculateRem(24);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
  }
}

@include respond(touch-device) {
  .header {
    height: calculateRem(80);
  }
}
