@import "../../../styles/abstracts/index";

.page {
  width: 100%;
  max-width: $app-width;

  margin: auto;

  padding-left: calculateRem(24);
  padding-right: calculateRem(24);
}

.page {
  position: relative;
  .breadcrumbs {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }
}
