@import "../../../styles/abstracts/index";

.footer {
  border-top: calculateRem(3) solid $clr-primary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    max-width: $app-width;

    padding: calculateRem(16) calculateRem(24);
  }

  &__main {
  }
  &__copyright {
  }
}
