@import "../../../styles/abstracts/index";

.category-page {
  position: relative;
  padding-top: calculateRem(80);
  padding-bottom: calculateRem(80);

  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto;
  grid-column-gap: calculateRem(56);

  &__nav {
    align-self: start;
    position: sticky;
    top: calculateRem(170);

    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }

  &__nav-link {
    font-weight: bold;
    margin-left: calculateRem(10);
    padding-top: calculateRem(10);
    padding-bottom: calculateRem(10);

    transition: color 0.2s;

    color: $clr-text-muted;
    &:hover {
      color: $clr-text;
    }

    &--active {
      color: $clr-text;
      padding-left: calculateRem(8);
      border-left: calculateRem(3) solid $clr-primary;
    }
  }

  .category-page__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calculateRem(60);
  }

  .breadcrumbs {
    position: absolute;
    top: 0;
    left: calculateRem(24);
    transform: translateY(-50%);
  }
}
