.is-text-capitalise {
  text-transform: capitalize;
}

.is-primary {
  color: $clr-primary;
}

.has-bg-secondary {
  background-color: $clr-bg-secondary;
}

.has-text-centered {
  text-align: center;
}
